.brand {
  font-size: 30px;
  font-weight: 700;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.link {
  font-weight: 700;
  font-size: 17px;
  color: black;
  text-decoration: none;
  margin-right: 5%;
}
.link:hover {
  color: rgb(0, 106, 0);
}
.userimg {
  width: 10%;
  border: 1px solid black;
  border-radius: 50%;
}
@media only screen and (min-width: 78px) and (max-width: 700px) {
  .navbar {
    display: block;
    justify-content: space-between;
  }
}
